.ContentAdviceIcon:before {
    content: "\e153"; /*flag*/
    font-family: 'Material Icons';
	color: #880000;
    vertical-align: middle;
    margin-inline-end: .25rem;
    line-height:1;
    display:inline-block;
    font-size: 0.75rem;
}
.record-indication {
    color: var(--sys-outline);
    font-size: .75rem;
    font-weight: 500;
}
.mat-divider.mat-divider-vertical {
    margin-inline-start: .5rem;
    margin-inline-end: .5rem;
}