.FirstAustraliansIcon:before {
    content: "\e7ed"; /*communities icon*/
    font-family: 'Material Symbols Outlined'; /* Material Symbols Outlined font family is linked as an external resource in customModule > src > index.html */
	color: var(--sys-primary);   
    vertical-align: middle;
    line-height:1;
    display:inline-block;
    font-size: 0.75rem;
}
.record-indication {
    color: var(--sys-outline);
    font-size: .75rem;
    font-weight: 500;
}
.mat-divider.mat-divider-vertical {
    margin-inline-start: .5rem;
    margin-inline-end: .5rem;
}
