<div id="modeless-cultural-advice">
    <button class="close-btn">×</button>
    <p><strong>Cultural advice</strong></p>
    <div>
      <p>Aboriginal and Torres Strait Islander people should be aware that Library resources may contain images, voices or names of deceased persons in photographs, film, audio recordings or printed material.</p>
      <p>In the spirit of reconciliation, Bond University acknowledges the Kombumerri people, the traditional Owners and Custodians of the land on which the university now stands. We pay respect to Elders past, present and emerging.</p>
      <p>Read more about <a href="https://bond.edu.au/library/about-library/inclusion" target="_blank">Bond Library's commitment</a> to inclusion and diversity.</p>
      </div>
</div>